# Dependencies
node_modules/
.pnpm-debug.log*
.pnpm-store/

# Production / Build
dist/
.next/
.turbo/
build/

# Environment / Secret keys
.env
.env.local
.env.*.local
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# Obsidian Editor Settings
.obsidian/

# Storage & Uploads
storage/
uploads/

dev_guide/
apps/embedding/cached_models/
*.log